/* Global Definitions */
html {
    font-size: 1.2em;
}

body {
    background-color:#070710;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6em;
    max-width: 42em;
    padding: 1em;
    margin: 0 auto;
}

header {
    padding-top: 0.6em;
    /* position: -webkit-sticky; /* Safari */
    /*position: sticky;*/
    top: 0;
    background: color #070710;
    padding-bottom: 0.6em;
    z-index: 999;
}

main {
    padding-top: 1em;
}

footer {
    padding-top: 2em;
    font-size: 0.8em;
    color:gray;
}

a {
    color:#00f0ff;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Custom Classes and IDs */

/* Header Style */
#masthead {
    background: color #070710;
}

.site-logo {
    text-decoration: none;
    background: color #070710;
}

#nav-item {
    padding-left: 1em;
    font-size: 0.8em;
    color: whitesmoke;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: color #070710;
}

#nav-item:hover {
    text-decoration: underline;
}

/* Home CTA Button Style */
.home-cta {
    padding: 1em;
    background-color: #00f0ff;
    border: none;
    border-radius: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}
.home-cta:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* Sitewide Font and Link Styles */
.understated {
    font-size: small;
    color: lightgrey;
}

.backlink {
    font-size: small;
    color: lightgrey;
    text-decoration: none;
}

.backlink:hover {
    text-decoration: underline;
}

.postlink {
    color: whitesmoke;
    text-decoration: none;
}

.postlink:hover {
    color: #00f0ff;
    text-decoration: underline;
}

.inactive {
    color: rgb(63, 63, 63);
}

.bq {
    padding-left: 1em;
    box-shadow: inset .1em 0 0 0 #242424;
}